<h1>Editing Book</h1>


  <% if @book.errors.any? %>
    <div class=error-box>
      <h2 class=error-heading><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul class=error-message>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

<%= form_with model:@book, local: true do |f| %>
  <div class=field>
    <p class=title>Title</p>
    <%= f.text_field :title %>
  </div>

  <div class=field>
    <p class=title>Body</p>
    <%= f.text_area :body %>
  </div>

  <div class=field>
  <%= f.submit "Update Book"%>
  </div>

<% end %>

<p class=link-botan><%= link_to "show", book_path(@book.id) %> | <%= link_to "Back", books_path %></p>